{% load static %}
<!doctype html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers</title>
</head>
<body>
<h2>This is the customers Reviews page</h2>
<a href="{% url 'home' %}">Home Page</a>
<br>
<a href="{% url 'about' %}">About Us</a>
<br>
<a href="{% url 'contact' %}">Our Contacts</a>
<br>
<a href="{% url 'services' %}">Our Services</a>
<br>
<a href="{% url 'blogs' %}">Our Blogs</a>
<br>

<img src="{% static 'images/matcha.jpeg' %}" alt="">


<script src="{% static 'js/main.js' %}"></script>
</body>
</html>